<body>
    <%= render partial: "layouts/navbar" %>
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog</h1>
            </div>
        </div>
        <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <p>We document all our trips on this page. Read about our adventures below!</p>
          <ul style="list-style: none;">
            <li>January 2015 - Xue Shan, 3886m.</li>
            <li>August 2014 - Rinjani, 3726m.</li>
            <li>12th August 2014 to 12th September 2014 - Mt. SUTD, 6056m.</li>
            <li>3rd May 2014 to 23rd May 2014 - Basic Alpine Mountaineering Course & Mt. Friendship, 5289m.</li>
            <li>6th January 2014 to 17th January 2014 - Ice Climbing & Mt. Dafeng, 5038m.</li>
            <li>January 2013 - Mt. Kinabalu, 4095.2m.</li>
          </ul>
          
        </div>
        <div class="col-md-1"></div>
        </div>
        <!-- /.row -->
        <% @posts.each do |post| %>
          <div class="row" style="padding:10px">
              <div class="col-md-1"></div>
              <div class="col-md-3">
                  <div class="img-post-div">
                  <a href=<%= post_path(post.id) %>>
                    <img class="img-responsive img-hover" src=<%= get_first_image(post.content) %> alt="">
                  </a>
                  </div>
              </div>
              <div class="col-md-7">
                  <h3><%= post.title %></h3>
                  <p><%= strip_tags(post.content).truncate(400, :separator => " ").html_safe %></p>
                  <a class="btn btn-primary" href=<%= post_path(post.id) %>>View Post</i></a>
              </div>
              <div class="col-md-1"></div>
          </div>
        <% end %>
    </div>
</body>